##引入mybatis支持
$!mybatisSupport
$!config

##$!callback.setFileName($tool.append($mapperName, ".xml"))
$!callback.setFileName($tool.append($!{tableInfo.name}, "Mapper.xml"))
$!callback.setSavePath($tool.append($modulePath, "/src/main/resources/",$mapperXMLPath))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    ## 命名空间，如果修改了JavaMapper路径则需要修改
<mapper namespace="$importMapperPackage">
    ## 修改了Entity，则需要修改
    <resultMap type="$importEntityPackage" id="$!{tableInfo.name}Map">
        #if(!$tableInfo.pkColumn.isEmpty())
            <id property="$!pk.name" column="$!pk.obj.name" jdbcType="$!pk.ext.jdbcType"/>
        #end
        #foreach($column in $tableInfo.otherColumn)
            <result property="$!column.name" column="$!column.obj.name" jdbcType="$!column.ext.jdbcType"/>
        #end
    </resultMap>

    <sql id="All_Columns">
        #foreach($column in $tableInfo.fullColumn)`$column.obj.name`#if($velocityHasNext), #end#end
    </sql>
    <sql id="Other_Columns">
        #foreach($column in $tableInfo.otherColumn)`$column.obj.name`#if($velocityHasNext), #end#end
    </sql>
    #if($useExample)
        <sql id="Example_Where_Clause">
            <where>
                ## 如果修改了EntityExample的criterias名称，此处需要修改(entityExample.criterias)
                <foreach collection="example.criterias" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            ## 如果修改了EntityExample的Criteria类中conditions的名称，此处需要修改(criteria.conditions)
                            <foreach collection="criteria.conditions" item="condition">
                                <choose>
                                    <when test="condition.initMode == 0">
                                        and ${condition.condition}
                                    </when>
                                    <when test="condition.initMode == 1">
                                        and ${condition.condition} #{condition.value}
                                    </when>
                                    <when test="condition.initMode == 2">
                                        and ${condition.condition} #{condition.value} and #{condition.secondValue}
                                    </when>
                                    <when test="condition.initMode == 3">
                                        and ${condition.condition}
                                        <foreach close=")" collection="condition.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </sql>
    #end


    <!--插入数据-->
    <insert id="insert" parameterType="$importEntityPackage" #if(!$tableInfo.pkColumn.isEmpty() && $dasUtil.isAutoGenerated($pk.obj)) useGeneratedKeys="true" keyColumn="$pk.obj.name" keyProperty="$pk.name" #end>
        #if(!$tableInfo.pkColumn.isEmpty() && $dasUtil.isAutoGenerated($pk.obj))   ## 如果有主键并且自增，插入其他列，并且主键回填
            insert into `$!{tableInfo.obj.name}`
            (#foreach($column in $tableInfo.otherColumn)`$!column.obj.name`#if($velocityHasNext), #end#end)
            values
            (#foreach($column in $tableInfo.otherColumn)#{$!{column.name}}#if($velocityHasNext), #end#end)
        #else ## 如果没有主键或主键不自增，插入所有列
            insert into `$!{tableInfo.obj.name}`
            (#foreach($column in $tableInfo.fullColumn)`$!column.obj.name`#if($velocityHasNext), #end#end)
            values
            (#foreach($column in $tableInfo.fullColumn)#{$!{column.name}}#if($velocityHasNext), #end#end)
        #end
    </insert>

    <!--插入数据，忽略null-->
    <insert id="insertSelective" parameterType="$importEntityPackage"  #if(!$tableInfo.pkColumn.isEmpty() && $dasUtil.isAutoGenerated($pk.obj)) useGeneratedKeys="true"  keyColumn="$pk.obj.name" keyProperty="$pk.name" #end>
        insert into `$!{tableInfo.obj.name}`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #if(!$tableInfo.pkColumn.isEmpty() && !$dasUtil.isAutoGenerated($pk.obj))   ## 如果有主键并且不自增，则必须插入主键
                `$!pk.obj.name`,
            #end
            #foreach($column in $tableInfo.otherColumn)
                <if test="$!column.name != null#if($column.type.equals(
                    "java.lang.String")) and $!column.name != ''#end">
                    `$!column.obj.name`,
                </if>
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #if(!$tableInfo.pkColumn.isEmpty() && !$dasUtil.isAutoGenerated($pk.obj))   ## 如果有主键并且不自增，则必须插入主键
                #{$!pk.name},
            #end
            #foreach($column in $tableInfo.otherColumn)
                <if test="$!column.name != null#if($column.type.equals(
                    "java.lang.String")) and $!column.name != ''#end">
                    #{$!column.name},
                </if>
            #end
        </trim>
    </insert>

    <!--批量插入-->
    <insert id="insertList"
            parameterType="java.util.List" #if(!$tableInfo.pkColumn.isEmpty() && $dasUtil.isAutoGenerated($pk.obj))
            useGeneratedKeys="true" keyColumn="$pk.obj.name" keyProperty="$pk.name" #end>
        #if(!$tableInfo.pkColumn.isEmpty() && $dasUtil.isAutoGenerated($pk.obj))   ## 如果有主键并且自增，插入其他列，返回主键列
            insert into `$!{tableInfo.obj.name}`
            (#foreach($column in $tableInfo.otherColumn)`$!column.obj.name`#if($velocityHasNext), #end#end)
            values
            <foreach collection="$tool.append($tool.firstLowerCase($!{tableInfo.name}),"List")" item="item" separator=",">
                (#foreach($column in $tableInfo.otherColumn)#{item.$!{column.name}}#if($velocityHasNext), #end#end)
            </foreach>
        #else ## 如果没有主键或主键不自增，插入所有列
            insert into `$!{tableInfo.obj.name}`
            (#foreach($column in $tableInfo.fullColumn)`$!column.obj.name`#if($velocityHasNext), #end#end)
            values
            <foreach collection="$tool.append($tool.firstLowerCase($!{tableInfo.name}),"List")" item="item" separator=",">
                (#foreach($column in $tableInfo.fullColumn)#{item.$!{column.name}}#if($velocityHasNext), #end#end)
            </foreach>
        #end
    </insert>

    #if(!$tableInfo.pkColumn.isEmpty())
        <!-- 根据主键删除-->
        <delete id="deleteByPrimaryKey" parameterType="$!pk.shortType">
            delete from `$!{tableInfo.obj.name}`
            where
            $!pk.obj.name = #{$!pk.name}
            ##            where $!pk.obj.name = #{$!pk.name}
        </delete>
    #end

    <!-- 根据实体类删除-->
    <delete id="deleteByEntity" parameterType="$importEntityPackage">
        delete from `$!{tableInfo.obj.name}`
        <where>
            #foreach($column in $tableInfo.fullColumn)
                <if test="$!column.name != null#if($column.type.equals(
                    "java.lang.String")) and $!column.name != ''#end">
                    and `$!column.obj.name` = #{$!column.name}
                </if>
            #end
        </where>

    </delete>

    #if($useExample)
        <!-- 根据Example删除 -->
        <delete id="deleteByExample" parameterType="$importBaseExamplePackage">
            delete from `$!{tableInfo.obj.name}`
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
        </delete>
    #end

    #if(!$tableInfo.pkColumn.isEmpty())
        <!-- 根据主键更新-->
        <update id="updateByPrimaryKey" parameterType="$importEntityPackage">
            update `$!{tableInfo.obj.name}`
            set
            #foreach($column in $tableInfo.fullColumn)`$!column.obj.name` = #{$!{column.name}}#if($velocityHasNext), #end#end
            where
            `$!pk.obj.name` = #{$!pk.name}
        </update>
    #end

    #if(!$tableInfo.pkColumn.isEmpty())
        <!-- 根据主键更新，忽略null和主键-->
        <update id="updateByPrimaryKeySelective" parameterType="$importEntityPackage">
            update `$!{tableInfo.obj.name}`
            <set>
                #foreach($column in $tableInfo.otherColumn)
                    <if test="$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $!column.name != ''#end">
                        `$!column.obj.name` = #{$!column.name},
                    </if>
                #end
            </set>
            where `$!pk.obj.name` = #{$!pk.name}
        </update>
    #end

    #if($useExample)
        <!-- 通过Example更新-->
        <update id="updateByExample" parameterType="map">
            update `$!{tableInfo.obj.name}`
            set
            #foreach($column in $tableInfo.fullColumn)
                `$!column.obj.name` = #{$tool.firstLowerCase($!{tableInfo.name}).$!{column.name}}#if($velocityHasNext), #end#end
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
        </update>
    #end

    #if($useExample)
        <!-- 根据Example更新，忽略null和主键-->
        <update id="updateByExampleSelective" parameterType="map">
            update `$!{tableInfo.obj.name}`
            <set>
                #foreach($column in $tableInfo.otherColumn)
                    <if test="$tool.firstLowerCase($!{tableInfo.name}).$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $tool.firstLowerCase($!{tableInfo.name}).$!column.name != ''#end">
                        `$!column.obj.name` = #{$tool.firstLowerCase($!{tableInfo.name}).$!{column.name}},
                    </if>
                #end
            </set>
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
        </update>
    #end
    <!--统计所有记录-->
    <select id="countRecord" resultType="Long">
        select count(*) from `$!{tableInfo.obj.name}`
    </select>

    #if($useExample)
        <!--根据Example计算总数-->
        <select id="countByExample" resultType="Long" parameterType="$importBaseExamplePackage">
            select count(*) from `$!{tableInfo.obj.name}`
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
        </select>
    #end

    #if(!$tableInfo.pkColumn.isEmpty())
        <!--根据主键查找-->
        <select id="selectByPrimaryKey" parameterType="$!pk.shortType" resultMap="$!{tableInfo.name}Map">
            select
            <include refid="All_Columns" />
            from `$!{tableInfo.obj.name}`
            where `$!pk.obj.name` = #{$!pk.name}
        </select>
    #end

    #if(!$tableInfo.pkColumn.isEmpty())
        <!--通过主键集合查找-->
        <select id="selectByPrimaryKeyList" parameterType="java.util.List" resultMap="$!{tableInfo.name}Map">
            select
            <include refid="All_Columns" />
            from `$!{tableInfo.obj.name}`
            where `$!pk.obj.name` in
            <foreach collection="$tool.append($pk.name,"List")" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </select>
    #end

    <!--根据实体查找-->
    <select id="selectByEntity" parameterType="$importEntityPackage" resultMap="$!{tableInfo.name}Map">
        select
        <include refid="All_Columns" />
        from `$!tableInfo.obj.name`
        <where>
            #foreach($column in $tableInfo.fullColumn)
                <if test="$!column.name != null#if($column.type.equals(
                    "java.lang.String")) and $!column.name != ''#end">
                    and $!column.obj.name = #{$!column.name}
                </if>
            #end
        </where>
    </select>

    #if($useExample)
        <!--根据Example查找-->
        <select id="selectByExample" parameterType="$importBaseExamplePackage" resultMap="$!{tableInfo.name}Map">
            select
            <if test="distinct">
                distinct
            </if>
            <include refid="All_Columns" />
            from `$!{tableInfo.obj.name}`
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null">
                order by ${orderByClause}
                <if test="desc">
                    desc
                </if>
            </if>
            <if test="limit != null">
                <if test="offset != null">
                    limit ${offset}, ${limit}
                </if>
                <if test="offset == null">
                    limit ${limit}
                </if>
            </if>
        </select>
    #end

    #if($selectSelective && $useExample)
        <!--根据Example查找选择列-->
        <select id="selectByExampleSelective" parameterType="$importBaseExamplePackage" resultMap="$!{tableInfo.name}Map">
            select
            <if test="distinct">
                distinct
            </if>
            <if test="_parameter != null and example.selectColumns != null">
                <foreach collection="example.selectColumns" item="item" separator=",">
                    `${item}`
                </foreach>
            </if>
            <if test="_parameter == null or example.selectColumns == null">
                <include refid="All_Columns"/>
            </if>
            from `$!{tableInfo.obj.name}`
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null">
                order by ${orderByClause}
                <if test="desc">
                    desc
                </if>
            </if>
            <if test="limit != null">
                <if test="offset != null">
                    limit ${offset}, ${limit}
                </if>
                <if test="offset == null">
                    limit ${limit}
                </if>
            </if>
        </select>
    #end

    #if(!$tableInfo.pkColumn.isEmpty() && $useExample)
        <!--根据Example查找主键-->
        <select id="selectPrimaryKeyByExample" parameterType="$importBaseExamplePackage" resultType="$!pk.type">
            select
            `$!pk.obj.name`
            from `$!{tableInfo.obj.name}`
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null">
                order by ${orderByClause}
                <if test="desc">
                    desc
                </if>
            </if>
            <if test="limit != null">
                <if test="offset != null">
                    limit ${offset}, ${limit}
                </if>
                <if test="offset == null">
                    limit ${limit}
                </if>
            </if>
        </select>
    #end


    #if(!$tableInfo.pkColumn.isEmpty())
        <!--有范围限制。offset大时使用-->
        <select id="selectByLimit" resultMap="$!{tableInfo.name}Map">
            select
            <include refid="All_Columns" />
            from `$!{tableInfo.obj.name}`
            where $!pk.obj.name >=
            (select $!pk.obj.name from `$!{tableInfo.obj.name}` order by $!pk.obj.name limit ${offset}, 1)
            limit ${limit}
        </select>
    #end

</mapper>
